@import url(http://fonts.googleapis.com/css?family=Raleway:400,600);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1;
  display: none;
}

.yep {
  color: #a2d4f2;
  background-color: #734f30;
}

.nope {
  color: #734f30;
  background-color: #a2d4f2;
}

.yep-box {
  border-color: #a2d4f2;
}

.nope-box {
  border-color: #734f30;
}

.yep .nope-box {
  display: none;
}

.nope .yep-box {
  display: none;
}

section {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 48vw;
  height: 20vw;
  margin-left: -24vw;
  margin-top: -10vw;
  border-width: 3px;
  border-style: solid;
}

h1 {
  font-weight: 600;
  font-size: 16vw;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 2vw;
  margin: -0.25vw 0 0;
}

@media screen and (max-width: 959px) {
  section {
    width: 72vw;
    height: 30vw;
    margin-left: -36vw;
    margin-top: -15vw;
  }

  h1 {
    font-size: 24vw;
  }

  h2 {
    font-size: 3vw;
  }
}
